<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Course</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/pagination.css}" rel="stylesheet" />
    <link th:href="@{/css/header.css}" rel="stylesheet" />
    <link th:href="@{/css/course-edit.css}" rel="stylesheet" />
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header"></div>
<!-- Header -->

<div class="page-container">
    <h1>Edit Course</h1>
    <form method="post" th:action="@{/courses/edit/{courseId}(courseId=${course.id})}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" required th:value="${course.title}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" required th:text="${course.description}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

<script th:src="@{/js/header.js}"></script>
</body>
</html>
