<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="content">
        <h1 class="welcome">Welcome</h1>
    </div>
    <div class="buttons" style="margin-left:20px">
        <a href="/students" class="button">Students</a>
        <a href="/courses" class="button">Courses</a>
    </div>
</div>
</body>
</html>
